* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

        #carouselExampleAutoplaying {
            height: 500px;
        }
        #carouselExampleAutoplaying .carousel-item img {
            height: 100%;
            object-fit: cover; 
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: rgba(0, 0, 0, 0.316);   
          border-radius: 50%;      }
     
  /* Custom hover styles */
        .gallery-item {
            position: relative;
            overflow: hidden;
        }

        .gallery-item img {
            display: block;
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
        }

        .gallery-item:hover img {
            transform: scale(1.1);
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 110%;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .gallery-item:hover .overlay {
            opacity: 1;
        }


        /* table */
  
     .custom-table th {
      background-color: #1f2937; 
      color: white;
  }
  .custom-table td, .custom-table th {
      padding: 1rem;
      text-align: left;
  }
  .custom-table tr:nth-child(even) {
      background-color: #f3f4f6; 
  }